.foot
  padding: 60px 0
  background-color: darken(fon, 8%)
  text-align: center
  color: #4e5355
  +xs-m()
    padding: 40px 0
  &__logo
    intro()
    font-size: 22px
    line-height: 1.16
    span
      display: block
      color: #707476
      font-size: 27px
  &__copy
    font-size: 20px
    font-weight: bold
    color: #494d50
    margin-top: 20px
    +xs-m()
      margin-top: 10px