::-webkit-input-placeholder {color:lighten(fon, 20%);open(); padding-left: 17px}
::-moz-placeholder          {color:lighten(fon, 20%);open(); padding-left: 17px}/* Firefox 19+ */
:-moz-placeholder           {color:lighten(fon, 20%);open(); padding-left: 17px}/* Firefox 18- */
:-ms-input-placeholder      {color:lighten(fon, 20%);open(); padding-left: 17px}

input, textarea
  border none
  padding: 15px 20px
  width: 100%
  font-family: Arial, sans-serif
  font-style: italic
  outline none
  transition background-color  .25s ease

